{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    body {
        background-image: url('https://media.discordapp.net/attachments/1020337769505116261/1158800181354037299/Woolworths___Signage_Design___McCartney_Design.jpg?ex=651d9044&is=651c3ec4&hm=04c5048ee5d374936c9de5821968f6fb2219398744494f1cbfbf89558516e4aa&=&width=918&height=612');
        background-size: cover;
        background-repeat: no-repeat;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh;
    }

    .edit-item {
        background-color: rgba(255, 255, 255, 0.9); 
        padding: 20px;
        border-radius: 10px;
    }

    h1 {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
    }


    table {
        margin: 0 auto;
    }


    input[type="submit"] {
        font-family: arial;
        font-weight: bold;
        color: #000000 !important;
        font-size: 11px;
        text-shadow: 0px 0px 0px #F8EDEB;
        box-shadow: 1px 1px 1px #F8EDEB;
        padding: 9px 16px;
        border-radius: 40px;
        border: 1px solid #000000;
        background: #FEC89A;
    }
    input[type="submit"]:hover {
        color: #F8EDEB !important;
        background: #FEC89A;
    }

</style>

<h1>Edit Item</h1>
<div class=" edit-item">
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Edit Item"/>
                </td>
            </tr>
        </table>
    </form>
</div>


{% endblock %}