{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    body{
        background-image: url('https://media.discordapp.net/attachments/1020337769505116261/1158780706282025070/DreamShaper_v7_make_me_a_background_for_login_page_that_contai_1.jpg?ex=651d7e21&is=651c2ca1&hm=55c53ac87544e149bc2a2fa2cba41556ff7bf9d21f7930f30958d863828c81e3&=&width=993&height=662'); 
        background-size: cover; 
        background-repeat: no-repeat; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
        font-family: Arial, sans-serif;
    }
    .login {
        background-color: rgba(255, 255, 255, 0.9); 
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    table {
        margin: 0 auto; 
        margin-bottom: 10px;
    }

    .form-control {
        width: 100%; 
    }

    .logbttnstyle {
        font-weight: bold;
        color: #000000 !important;
        font-size: 11px;
        text-shadow: 0px 0px 0px #F8EDEB;
        box-shadow: 1px 1px 1px #F8EDEB;
        padding: 9px 16px;
        border-radius: 40px;
        border: 1px solid #000000;
        background: #FEC89A;
        margin-bottom: 10px;
    }
    .logbttnstyle:hover {
        color: #F8EDEB !important;
        background: #FEC89A;
    }
</style>

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

        </table>
        <tr>
            <td></td>
            <td><input class="btn login_btn logbttnstyle" type="submit" value="Login"></td>
        </tr>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>

</div>

{% endblock content %}