{% extends 'base.html' %}

{% block content %}
    <h1>GMart Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    <p>Kamu menyimpan {{ jumlah_item }} item pada aplikasi ini </p>

    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Type</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data item di bawah baris ini {% endcomment %}
    
        {% for i in item %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.amount}}</td>
                <td>{{i.description}}</td>
                <td>{{i.type}}</td>
                <td>
                    <form method="post" action="{% url 'main:add_amount' i.id %}">
                        {% csrf_token %}
                        <button type="submit">Add</button>
                    </form>
                </td>
                <td> 
                    <form method="post" action="{% url 'main:sub_amount' i.id %}">
                        {% csrf_token %}
                        <button type="submit">Subtraction</button>
                    </form>
                </td>
                <td> 
                    <form method="post" action="{% url 'main:remove_item' i.id %}">
                        {% csrf_token %}
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    
    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>


{% endblock content %}
